*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "bebasneue-regular";
    src: url('/font/BebasNeueR.ttf') format("truetype");
}
@font-face{
    font-family: "alfaslabone-regular";
    src: url('/font/AlfaSlabOneR.ttf') format("truetype");
}
body{
    background-image: url('/img/background.png');
    height: 100vh;
}
.exer{
    display: flex;
    justify-content: space-between;
    padding: 2px 30px;
}
.mar img{
    height: 40px;
    width: 200px;
    margin: 2px;
}
.ethen{
    display: flex;
}
.ethen img{
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
}
.part{
    width: 50%;
    height: 100%;
    padding: 60px;
}
.hek{
    position: relative;
    width: 50%;
    height: 100%;
}
.ecrit2 p{
    text-align: end;
    font-family: "babasneue-regular";
    color: #42200b;
    font-weight: 900;
    letter-spacing: 3px;
    margin-right: 15px;
}
.burger{
    width: 100%;
    height: 80%;
}
.ecrit2{
    width: 100%;
    height: 20%;
}
.sec p{
    border: 1px dashed black;
    color: #42200b;
    font-family: "bebasneue-regular";
    font-size: 30px;
    width: 530px;
    padding-left: 5px;
}
.sec h1{
    font-size: 120px;
    letter-spacing: 3px;
    font-family: "alfaslabone-regular";
    color: #42200b;
    text-shadow: 3px 3px white;
}
.sec h3{
    letter-spacing: 3px;
    font-family: "alfaslabone-regular";
    color: #42200b;
    text-shadow: 3px 3px white;
    font-size: 75px;
}
.march p{
    background-color: #42200b;
    font-family: "bebasneue-regular";
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 0 10px;
    padding-left: 30px;
    margin-left: 23px;
    font-size: 22px;
}
.march img{
    width: 46px;
    height: 48px;
    position: absolute;
    bottom: -3px;
    left: 5px;
}
.march{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.burger img{
    position: absolute;
    height: 650px;
    width: 650px;
    left: 20px;
    bottom: 10px;
    margin-left: 20px;
}
.inter{
    display: flex;
    width: 100%;
    height: 573px;
}
.car{
    background-image: url(/img/Rectangle.png);
    background-repeat: no-repeat;
    display: flex;
    height: 80px;
    margin-left: -59.9px;
}
.car img{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}
.mat{
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
}
.mat1{
    margin-left: 40px;
    font-size: 15px;
    margin-top: 10px;
    font-family: "bebasneue-regular";
}
.mat2{
    margin-left: 20px;
    font-size: "bebasneue-regular";
}
.ecrit1 {
    margin-top: 25px;
    margin-left: 300px;
    color: #42200b;
    font-size: 15px;
}
.ecrit1 a{
    color: #42200b;
}

